.root {
  width: 100%;
  height: 100%;
  padding: 10px;
  min-height: calc(100vh - 100px);
}

.paper {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  padding: 0px 15px;
  min-height: inherit;
}

.cardsHolder {
  display: flex;
  flex: 1;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  background-color: #e5e5e5;
  border-radius: 20px;
  margin: 20px 0px;
  position: relative;
  color: #ec860d;
}

.card {
  width: 20%;
  height: 80%;
  min-height: 500px;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  background-color: #4b80bb;
  color: #fff;
  position: relative;
  transition: all .25s ease;
  cursor: pointer;
}

.card:hover {
  margin-bottom: 25px;
  box-shadow: 0px 5px 10px 2px rgba(34, 60, 80, 0.2);
}

.cardTitle {
  margin-top: 10px;
  position: relative;
  font-size: calc(25px + 10 * (100% / 350));
  font-weight: 600;
  display: flex;
  justify-content: center;
  align-items: center;
}

.cardSubtitle {
  position: absolute;
  bottom: -15px;
  left: 50%;
  transform: translateX(-50%);
  font-size: 14px;
  color: #fff;
  font-weight: 400;
}

.cardHeader {
  position: absolute;
  height: 13%;
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.cardStyledSubtitle {
  position: absolute;
  bottom: 5px;
  left: 50%;
  transform: translateX(-50%);
  font-size: 14px;
  color: #fff;
  font-weight: 400;
}

.chevronRight {
  max-width: 25px;
  position: relative;
}

.headerRightItem {
  font-size: calc(22px + 13 * (100% / 350));
  color: #ec860d;
  font-weight: 600;
}

.headerLeftItem {
  font-size: calc(22px + 13 * (100% / 350));
  font-weight: 600;
}

.infoSection {
  position: absolute;
  height: 87%;
  width: 100%;
  top: 13%;
  left: 0;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  border-radius: 20px;
  padding: 35px 10px 35px 10px;
}

.smallRocketImage {
  max-width: 20%;
  object-fit: contain;
}

.mediumRocketImage {
  max-width: 25%;
  object-fit: contain;
}

.bigRocketImage {
  max-width: 30%;
  object-fit: contain;
}

.infoContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.quantity {
  font-size: 35px;
  color: #f17f21;
  font-weight: bold;
}

.license {
  color: #4b80bb;
  font-size: 28px;
  font-weight: bold;
}

.cardPrice {
  color: #4b80bb;
  font-size: 35px;
  font-weight: bold;
}

.applyBtn {
  position: absolute !important;
  bottom: 10px !important;
  left: 20px !important;
}

.styledDialogContent {
  min-width: 300px;
}

@media screen and (max-width: 1300px) {
  .root {
    height: unset;
    min-height: 100%;
  }

  .paper {
    height: unset;
    min-height: 100%;
  }

  .cardsHolder {
    flex-wrap: wrap;
    padding-bottom: 75px;
  }

  .card {
    width: 35%;
    margin-top: 20px;
  }

  .card:hover {
    margin-bottom: unset;
  }
}

@media screen and (max-width: 768px) {

  .card {
    width: 81%;
    min-height: 600px;
  }

  .card:hover {
    margin-bottom: unset;
  }

  .license {
    font-size: 26px;
  }
}

@media screen and (max-width: 450px) {

  .smallRocketImage {
    max-width: 40%;
  }

  .bigRocketImage {
    max-width: 45%;
  }

  .mediumRocketImage {
    max-width: 40%;
  }
}
