.root {
  position: absolute;
  width: 100%;
  height: 60px;
  display: flex;
  align-items: center;
  padding: 0px 70px 0px 70px;
  box-shadow: 0px 4px 8px 0px #bec3d1;
  border-top: 1px solid rgba(0, 0, 0, 0.12);
  border-bottom: 1px solid rgba(0, 0, 0, 0.12);
}

.barItem {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  border-left: 1px solid rgba(0, 0, 0, 0.15);
}

.menuButton {
  color: #2e303d;
  position: absolute;
  left: 3px;
}

.userActions {
  position: absolute;
  right: 0;
  width: 70px;
  justify-content: flex-end;
  padding-right: 15px;
}

.balance {
  width: 28%;
}

.elevation {
  width: 80%;
  display: flex;
  justify-content: space-between;
  flex-direction: row;
}

.iconHolder {
  height: 40px;
  width: 40px;
  border-radius: 50%;
  border: 3px solid #bec3d1;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #bec3d1;
  font-size: 40px;
  margin: 0px 5px;
}

.centerItem {
  height: 40px;
  width: 40px;
  border-radius: 50%;
  background: #bec3d1;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 25px;
  color: #fff;
}

.elevationItem {
  width: 30%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.barElevation {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 37%;
  border-left: 1px solid rgba(0, 0, 0, 0.15);
}

.package {
  width: 34%;
}

@media screen and (max-width: 1200px) {
  .barElevation {
    width: 35.5%;
  }

  .package {
    width: 32.5%;
  }
}

@media screen and (max-width: 1110px) {
  .package {
    width: 25%;
  }

  .barElevation {
    width: 45%;
  }

  .balance {
    width: 30%;
  }
}

@media screen and (max-width: 906px) {
  .elevation {
    width: 100%;
  }
}

@media screen and (max-width: 753px) {
  .centerItem {
    display: none;
  }

  .elevationItem {
    width: 50%;
  }

  .package {
    display: none;
  }

  .barElevation {
    width: 55%;
  }

  .balance {
    width: 45%;
  }
}

@media screen and (max-width: 558px) {
  .balance {
    display: none;
  }

  .barElevation {
    display: none;
  }

  .userActions {
    border-left: none;
  }
}
