.root {
  position: absolute;
  width: 100%;
  height: 60px;
  display: flex;
  align-items: center;
  padding: 0px 0px 0px 100px;
  box-shadow: 0px 4px 8px 0px #bec3d1;
  border-top: 1px solid rgba(0, 0, 0, 0.12);
  border-bottom: 1px solid rgba(0, 0, 0, 0.12);
}

.barItem {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 24%;
  border-left: 1px solid rgba(0, 0, 0, 0.15);
}

.menuButton {
  color: #2e303d;
  position: absolute;
  left: 0;
}

.userActions {
  width: 22%;
  justify-content: flex-end;
  padding-right: 20px;
}

.balance {
  width: 30%;
}

.elevation {
  width: 100%;
  display: flex;
  justify-content: space-between;
  flex-direction: row;
}

.iconHolder {
  height: 40px;
  width: 40px;
  border-radius: 50%;
  border: 3px solid #bec3d1;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #bec3d1;
  font-size: 40px;
  margin: 0px 5px;
}

.centerItem {
  height: 40px;
  width: 40px;
  border-radius: 50%;
  background: #bec3d1;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 25px;
  color: #fff;
}

.elevationItem {
  width: 30%;
  display: flex;
  justify-content: center;
  align-items: center;
}

@media screen and (max-width: 600px) {
  .package {
    display: none;
  }
  
  .barItem {
    width: 40%;
  }

  .userActions {
    width: 20%;
    padding-right: 10px;
  }
}

@media screen and (max-width: 481px) {
  .userActions {
    width: 20%;
    padding-right: 0px;
  }

  .root {
    padding: 0px 10px 0px 70px;
  }
}
